.aspectRatioBox {
  padding-top: calc(3/6 * 100%);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.tweetAspectRatioBox {
  padding-top: calc(2/3 * 100%);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}